<div class="top-login">
    <img src="./../../assets/img/header_icon.png" alt="">
    
</div>    

<div class="login-card">
    <mat-card >
        <mat-card-content>
            <form (submit)="continueSignUp2()" class="inside-mat-card">
                <h2>Passwort zurücksetzen</h2>

                <p class="recommend-login">Bitte geben Sie ihre E-Mail Adresse ein.</p>

                <div class="input-fields">
                    <!-- <mat-form-field>
                        <mat-label>Enter your email</mat-label>
                        <mat-icon matPrefix>mail</mat-icon>
                        <input  matInput
                               placeholder="pat@example.com"
                               [formControl]="email"
                               (blur)="updateErrorMessage()"
                               required>
                        @if (email.invalid) {
                          <mat-error>{{errorMessage}}</mat-error>
                        }
                      </mat-form-field> -->
                     
                    <div class="first-input">
                        <i class="i-class-img"><img src="./../../assets/img/mail-icon.png"></i>
                    <input  class="email-login" type="email" name="email"  placeholder="beispielname@email.com"> <br>
                    </div>
                  

                    <div class="check-input">
                        <p>Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.</p> 
                    </div>

                </div>


                <div class="div-btn-weiter">
                    <button class="login-btn" type="submit" >E-Mail senden</button>
                </div>
                    
                
            </form>    
        </mat-card-content>
    </mat-card>
</div> 

<div class="bottom-login">
    <a href="#" class="imprint-tag">Impressum</a> &nbsp; <a href="#" class="privacy-policy-tag">Datenschutz</a>
</div>