<div class="top-login">
    <img src="./assets/img/header_icon.png" alt="">

</div>

<div class="login-card">
    <mat-card>
        <mat-card-content>
            <form class="inside-mat-card" (submit)="completeSignUp()">

                <div class="h2-arrow">
                    <a class="arrow-back" (click)="back()"><img src="./assets/img/arrow_back.png" alt=""></a>
                    <h2>Wähle deinen Avatar</h2>
                </div>

                <div class="input-fields">

                    <div class="selected-profile">
                        <img [src]="'assets/img/profile-pictures/' + personalData()?.avatar" alt="Profile Picture">
                    </div>
                    <div class="profile-choose">
                        <h3>{{personalData().firstName}} {{personalData().lastName}}</h3>
                        <p>Aus der Liste wählen</p>
                        <div class="profile-reviews">
                            @for(profile of profiles; track profile){
                            <img (click)="changeAvatar(profile)" class="profile-img" [src]="'./assets/img/profile-pictures/' + profile"
                                alt="Profile Picture">
                            }
                        </div>
                    </div>

                </div>






                <div class="div-btn-weiter">
                    <button class="login-btn" type="submit">Weiter</button>
                </div>


            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="bottom-login">
    <a href="legal-notice" class="imprint-tag">Impressum</a> &nbsp; <a href="privacy-policy"
        class="privacy-policy-tag">Datenschutz</a>
</div>