.top-login {
    padding: 18px;
    display: flex;
    justify-content: space-between;

    img {
        height: 70px;
    }
}

.login-card {
    display: flex;
    justify-content: center;
    align-items: center;

    ::ng-deep mat-card {
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        border-top-right-radius: 20px !important;
        height: 560px;
        width: 500px;
        margin-top: 50px;
    }

    .inside-mat-card {
        margin-right: 20px;
        margin-left: 20px;
    }

    .h2-arrow {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: relative;
    }

    .arrow-back {
        position: absolute;
        top: 4px;
        left: 0;
        cursor: pointer;
    }

    h2 {
        color: #535AF1;
        font-size: 29px;
    }

    .input-fields {
        display: flex;
        flex-direction: column;
    }

    .selected-profile {
        display: flex;
        justify-content: center;
        padding: 12px;

        img {
            width: 168px;
            height: 168px;
            border-radius: 50%;
        }
    }

    .profile-choose {
        display: flex;
        flex-direction: column;

        h3 {
            font-family: Nunito;
            font-size: 32px;
            font-weight: 700;
            line-height: 43.65px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #000;
            text-align: center;
        }

        p {
            padding-left: 30px;
        }

        .profile-reviews {
            display: flex;
            gap: 12px;
            justify-content: center;

            .profile-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

    }


}

.div-btn-weiter {
    display: flex;
    align-items: end;
    justify-content: end;

    .login-btn {
        background-color: #535AF1;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px;
        padding-right: 16px;
        padding-left: 16px;
        margin-right: 20px;
        margin-top: 50px;
        /*war vorher 30px*/
        font-weight: 700;

    }

    .login-btn:hover {
        cursor: pointer;
        background-color: #536bf1dc;
    }
}

.bottom-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .imprint-tag,
    .privacy-policy-tag {
        color: #535AF1;
        cursor: pointer;
        text-decoration: none;
    }
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ECEEFE !important;
}

::ng-deep .mdc-text-field--filled {
    border-radius: 80px !important;
}

/* Ab dieser width, mobile Ansicht*/
@media (max-width: 600px) {

    .top-login {
        display: flex;
        justify-content: center;
    }


    .login-card {

        ::ng-deep mat-card {
            border-top-left-radius: 20px !important;
            border-bottom-left-radius: 20px !important;
            border-bottom-right-radius: 20px !important;
            border-top-right-radius: 20px !important;
            height: 560px;
            width: 400px;
            margin-top: 50px;
        }
    }

}

/* ...kleiner*/
@media (max-width: 450px) {

    .top-login {
        display: flex;
        justify-content: center;
    }


    .login-card {

        ::ng-deep mat-card {
            border-top-left-radius: 20px !important;
            border-bottom-left-radius: 20px !important;
            border-bottom-right-radius: 20px !important;
            border-top-right-radius: 20px !important;
            height: 600px;
            width: 350px;
            margin-top: 50px;
        }
    }

}

/* ... noch kleiner*/
@media (max-width: 380px) {

    .top-login {
        display: flex;
        justify-content: center;
    }


    .login-card {

        ::ng-deep mat-card {
            border-top-left-radius: 20px !important;
            border-bottom-left-radius: 20px !important;
            border-bottom-right-radius: 20px !important;
            border-top-right-radius: 20px !important;
            height: 600px;
            width: 320px;
            margin-top: 50px;
        }
    }

}

/* ...am kleinsten*/
@media (max-width: 340px) {

    .top-login {
        display: flex;
        justify-content: center;
    }


    .login-card {

        ::ng-deep mat-card {
            border-top-left-radius: 20px !important;
            border-bottom-left-radius: 20px !important;
            border-bottom-right-radius: 20px !important;
            border-top-right-radius: 20px !important;
            height: 600px;
            width: 300px;
            margin-top: 50px;
        }
    }

}