<div class="container">
  @if(!openThreadMobile()){
  <mat-card appearance="outlined" class="messages">
    <mat-card-header class="direct-message-header">
      <mat-card-title (click)="openDetailsDialog()" class="direct-message-title">
        <mat-icon fontIcon="tag"></mat-icon><span class="userName">{{ activeChannel()?.name }}</span>
        <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
      </mat-card-title>
      <div class="members-container">
        @if(!isMobileView) {
        <div class="members-images" (click)="openMembersDialog()">
          @if (memberAvatars()!.length > 0) {
          @for (avatar of memberAvatars(); track avatar; let i = $index;) {
          <img class="members-image" [style.right.px]="memberAvatars()!.length == 1 ? -10 : (-25 + (i * 15))"
            [src]="'./../../../assets/img/profile-pictures/' + avatar" alt="Member {{ i + 1 }}" />
          }
          }
          <span class="members-count" [innerHTML]="memberAvatars()!.length"></span>
        </div>
        }
        @if(!isMobileView) {
        <button mat-mini-fab class="button-add-person" (click)="openAddMemberDialog()">
          <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
        </button>
      } @else {
        <button mat-mini-fab class="button-add-person" (click)="openMembersDialog()">
          <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
        </button>
      }
      </div>
    </mat-card-header>


    <mat-card-content class="direct-message-content" #scrollContainer (click)="showEmojis = false">
      <div class="date-elements">
        @for (group of groupedChannelMessages(); track group.date) {
        <div class="date-element">
          <span class="date">@if (group.date === (today() | date: 'yyyy-MM-dd')) {
            Heute
            } @else {
            {{ group.date | date: 'dd.MM.yyyy' }}
            }</span>
        </div>
        <div class="messages">
          @for (message of group.messages; track message.id) {
          <div class="message-container" [ngClass]="message.senderId != loggedUser()?.uid ? 'left' : 'right'"
            (mouseover)="setHoveredMessageId(message.id)" (mouseout)="clearHoveredMessageId(message.id, $event)">
            <div class="reaction-bar"
              [ngClass]="(message.senderId != loggedUser()?.uid || activeUser()?.userId === loggedUser()?.uid) ? 'rbr' : 'rbl'"
              *ngIf="hoveredMessageId === message.id && editMessageId == null"
              (mouseover)="setHoveredMessageId(message.id)" (mouseout)="clearHoveredMessageId(message.id, $event)">
              <span class="reaction-bar-symbol"
                (click)="addReactionToPrivateMessage(message.id, getLoggedUser()?.firstName+' '+getLoggedUser()?.lastName, '✅')">✅</span>
              <span class="reaction-bar-symbol"
                (click)="addReactionToPrivateMessage(message.id, getLoggedUser()?.firstName+' '+getLoggedUser()?.lastName, '🙏🏻')">🙏🏻</span>
              <mat-icon class="reaction-bar-symbol" (click)="toggleEmojiPicker(message.id)"
                fontSet="material-icons-outlined">add_reaction</mat-icon>
              <mat-icon class="reaction-bar-symbol" fontSet="material-icons-outlined"
                (click)="loadThread(message.id!)">comment</mat-icon>
              @if(message.senderId == loggedUser()?.uid){
              <mat-icon class="reaction-bar-symbol"
                fontSet="material-icons-outlined" [matMenuTriggerFor]="editMessage" (click)="toggleEditMenu()">more_vert</mat-icon>
                <mat-menu class="edit-message-menu" #editMessage="matMenu" (closed)="toggleEditMenu()">
                  <button class="edit-message-button" mat-menu-item (click)="startEditingMessage(message.id, message.message!)">
                    Nachricht bearbeiten
                  </button>
                </mat-menu>
                
              }
            </div>

            <emoji-mart #emojiPickerReaction [set]="'google'" class="emojis message-emoji-picker"
              [ngClass]="message.senderId == activeUser()?.userId ? 'right-emoji-picker' : 'left-emoji-picker'"
              (emojiClick)="addReactionToPrivateMessage(message.id!, getLoggedUser()?.firstName+' '+getLoggedUser()?.lastName, $event)"
              [showPreview]="false" [enableSearch]="false" [exclude]="['recent']" [style]="'position: fixed'"
              [i18n]="{ search: 'Suche', notfound: 'Keine Emojis gefunden' }"
              *ngIf="activeEmojiPickerMessageId === message.id" [perLine]="6"></emoji-mart>
              <mat-icon *ngIf="activeEmojiPickerMessageId === message.id" class="emoji-close" fontSet="material-icons-outlined" (click)="toggleEmojiPicker(message.id)">close</mat-icon>

            <img [src]="message.senderId != loggedUser()?.uid 
                      ? './../../../assets/img/profile-pictures/' + (getUserAvatar(message.senderId!) | async)
                      : './../../../assets/img/profile-pictures/' + getLoggedUser()?.avatar" alt="Message User">

            <div [ngClass]="message.senderId != loggedUser()?.uid ? 'message-left' : 'message-right'">
              @if(editMessageId === message.id) {
              <div class="edit">

                <textarea [(ngModel)]="message.message" class="edit-input" rows="2"></textarea>
                <div class="edit-controls">
                  <mat-icon (click)="toggleEditEmojis()">sentiment_satisfied</mat-icon>

                  <div class="control-buttons">
                    <button class="cancel" (click)="cancelEditing()">Abbrechen</button>
                    <button class="save" (click)="saveEditedMessage(message.id, message.message!)">Speichern</button>
                  </div>
                  @if(showEditEmojis) {
                  <emoji-mart #emojEditiPicker [set]="'google'" class="emojis" (emojiClick)="addEditEmoji($event)"
                    [showPreview]="false"
                    [i18n]="{ search: 'Suche', notfound: 'Keine Emojis gefunden', categories: { search: 'Suchergebnisse', recent: 'Zuletzt verwendet' } }"
                    showSkinTones="true" [enableSearch]="false" [exclude]="['recent']"
                    [style]="'position: fixed'" [perLine]="6"></emoji-mart>
                  }
                </div>
              </div>
              } @else {
              <div [ngClass]="message.senderId == activeUser()?.userId ? 'name-left' : 'name-right'">
                <p>{{ message.senderName }}</p>
                <p class="time">{{ message.timestamp.toDate() | date: 'HH:mm' }}</p>
              </div>
              <p [ngClass]="message.senderId == getLoggedUser()?.userId ? 'text-right' : 'text-left'">
                {{ message.message }}
              </p>
              }
              <div class="reaction-container">
                @for(reaction of message.reactionsGrouped || []; track reaction.reaction; let i = $index; let c =
                $count) {
                <div class="givenReactions"
                  (click)="addReactionToPrivateMessage(message.id!, getLoggedUser()?.firstName+' '+getLoggedUser()?.lastName, reaction.reaction)"
                  (mouseover)="showTooltip($event)" (mouseleave)="hideTooltip($event)">
                  <span class="reaction-symbol">{{ reaction.reaction }}</span>
                  <span>{{ reaction.count }}</span>

                  @if(c > 1) {
                  <div class="custom-tooltip"
                    [ngClass]="{'mobile-odd-class': i % 2 === 0, 'mobile-even-class': i % 2 !== 0}"
                    *ngIf="tooltipVisible">
                    <p class="tooltip-reaction">{{ reaction.reaction }}</p>
                    <p class="tooltip-text" [innerHTML]="setTooltip(reaction.userNames)"></p>
                  </div>
                  } @else if(c == 1 && activeUser()?.userId == message.senderId) {
                  <div class="custom-tooltip"
                    [ngClass]="{'mobile-odd-class': i % 2 === 0, 'mobile-even-class': i % 2 !== 0}"
                    *ngIf="tooltipVisible">
                    <p class="tooltip-reaction">{{ reaction.reaction }}</p>
                    <p class="tooltip-text" [innerHTML]="setTooltip(reaction.userNames)"></p>
                  </div>
                  } @else if(c == 1 && loggedUser()?.uid == message.senderId) {
                  <div class="custom-tooltip"
                    [ngClass]="{'mobile-even-class': i % 2 === 0, 'mobile-odd-class': i % 2 !== 0}"
                    *ngIf="tooltipVisible">
                    <p class="tooltip-reaction">{{ reaction.reaction }}</p>
                    <p class="tooltip-text" [innerHTML]="setTooltip(reaction.userNames)"></p>

                  </div>
                  } @else {
                  <div class="custom-tooltip" *ngIf="tooltipVisible">
                    <p class="tooltip-reaction">{{ reaction.reaction }}</p>
                    <p class="tooltip-text" [innerHTML]="setTooltip(reaction.userNames)"></p>
                  </div>
                  }
                </div>
                }
              </div>
              @if(message.lastAnswerTime) {
              <div class="answers-container" (click)="loadThread(message.id!)">
                <div class="answers">
                  <span class="answer-count">{{ message.answersCount }} Antworten</span>
                  @if(formatDate(message.lastAnswerTime) === today()) {
                  <span class="answer-time">Letzte Antwort um {{ message.lastAnswerTime | date: 'HH:mm' }}</span>
                  } @else {
                  <span class="answer-time">Letzte Antwort am {{ message.lastAnswerTime | date: 'dd.MM.yyyy' }}</span>
                  }
                </div>
              </div>
              }

            </div>
          </div>
          }

        </div>
        }

      </div>
    </mat-card-content>
    <div class="direct-message-input">
      <button class="add-person-placeholder" mat-button [matMenuTriggerFor]="aboveMenu"
        #menuTrigger="matMenuTrigger"></button>

      <textarea [(ngModel)]="newMessage" rows="2" placeholder="Nachricht an # {{ activeChannel()?.name }}"
        (input)="onInput($event)" #textarea (focus)="showEmojis = false">
      </textarea>

      <mat-menu #aboveMenu="matMenu" yPosition="above">
        @for (user of users(); track user) {
        <button mat-menu-item (click)="addToMessage(user.firstName + ' ' + user.lastName)">
          {{ user.firstName }} {{ user.lastName }}
        </button>
        }
      </mat-menu>

      <div class="message-icon-bar">
        <div class="send-message-icons">
          @if(showEmojis) {
          <emoji-mart #emojiPicker [set]="'google'" class="emojis" (emojiClick)="addEmoji($event)" [showPreview]="false"
            [i18n]="{ search: 'Suche', notfound: 'Keine Emojis gefunden', categories: { search: 'Suchergebnisse', recent: 'Zuletzt verwendet' } }"
            showSkinTones="true" [perLine]="6"></emoji-mart>
          }
          <mat-icon (click)="toggleEmojis()">sentiment_satisfied</mat-icon>
          <mat-icon (click)="toggleMenu()">alternate_email</mat-icon>
        </div>
        <div (click)="saveChannelMessage(activeChannel()!.id!)" class="send-button">
          <mat-icon>send</mat-icon>
        </div>
      </div>
    </div>

  </mat-card>
  }
  @if(openThread()) {
  <app-thread class="thread"></app-thread>
  }
</div>