h2 {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
}

.channel {
    display: flex;
    gap: 4px;
    align-items: center;

    mat-icon {
        color: #797EF3;
        font-size: 24px;
    }

    span {
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #797EF3;
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 0 30px 30px;
    padding: 40px;
    gap: 20px;
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    width: 415px;
    height: 411px;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__title {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
    padding-left: 0;
}

::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    padding: 0;
}

::ng-deep .mat-mdc-button:hover .mat-mdc-button-persistent-ripple::before {
    opacity: 0 !important;
}

::ng-deep .mat-mdc-button:active .mat-mdc-button-persistent-ripple::before {
    opacity: 0 !important;
    background-color: transparent !important;
}

::ng-deep .mat-mdc-button.cdk-program-focused .mat-mdc-button-persistent-ripple::before,
.mat-mdc-button.cdk-keyboard-focused .mat-mdc-button-persistent-ripple::before,
.mat-mdc-button.mat-mdc-button-disabled-interactive:focus .mat-mdc-button-persistent-ripple::before {
    opacity: 0 !important;
    background-color: transparent !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
}

h3 {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    margin: 0;
}


.close-button {
    position: absolute;
    top: 50px;
    right: 40px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE;
    }
}

.no-scrollbar {
    overflow: auto;
    /* Scrollen erlauben */
    resize: none;
    /* Manuelles Anpassen deaktivieren */
}

/* Scrollbar in Webkit-Browsern (Chrome, Safari, Edge) ausblenden */
.no-scrollbar::-webkit-scrollbar {
    width: 0;
    /* Unsichtbar machen */
    height: 0;
}

/* Für Firefox */
.no-scrollbar {
    scrollbar-width: none;
    /* Scrollbar ausblenden */
}

/* Für Internet Explorer und Edge */
.no-scrollbar {
    -ms-overflow-style: none;
    /* Scrollbar ausblenden */
}

.add-member {
    position: relative;
    left: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 147px;
    height: 49px;
    margin-left: 6px;
    border-radius: 25px;
    background-color: #444DF2;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover:not(:disabled) {
        background: #ECEEFE;
        transform: scale(1.02);
        color: #535AF1;
    }

    &:disabled {
        background-color: grey;
        cursor: not-allowed;
    }
}


.select-field {
    width: 100%;
}

::ng-deep div.mat-mdc-select-panel {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 30px !important;
}

::ng-deep .user-name .mat-pseudo-checkbox {
    display: none;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
    border: 1px solid #444DF2;
    border-radius: 30px;
}

::ng-deep .mat-mdc-select-arrow-wrapper {
    display: none !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    display: none !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    display: none !important;
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
    border-radius: 30px !important;
    border-top-left-radius: 0 !important;
}

.user-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
    background-color: transparent !important;

    .profile-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
    margin-left: 24px;
}

::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: #ECEEFE !important;
    height: 40px !important;
}

::ng-deep .mat-mdc-chip.mdc-evolution-chip--with-trailing-action .mat-mdc-chip-action-label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.sm-profile-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}