<div class="top-login">
    <img src="./assets/img/header_icon.png" alt="">

</div>

<div class="login-card">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginForm" (submit)="goToNextStep()" class="inside-mat-card">

                <div class="h2-arrow">
                    <a class="arrow-back" [routerLink]="[ '/login']"><img src="./assets/img/arrow_back.png" alt=""></a>
                    <h2>Konto erstellen</h2>
                </div>

                <p class="recommend-login"> Mit deinem Namen und deiner E-Mail Adresse hast du dein neues
                    DABubble-Konto.</p>

                <div class="input-fields">
                    <mat-form-field>
                        <mat-icon matPrefix fontSet="material-icons-outlined">person</mat-icon>
                        <input matInput type="email" formControlName="name" placeholder="Vor- und Nachname">
                        @if (nameControl?.touched && nameControl?.invalid) {
                        <mat-error>
                            @if (nameControl?.hasError('required')) {
                            Ein Name ist erforderlich.
                            }
                        </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-icon matPrefix fontSet="material-icons-outlined">mail</mat-icon>
                        <input matInput type="email" formControlName="email" placeholder="beispielname@email.com"> 
                        @if (emailControl?.touched && emailControl?.invalid) {
                        <mat-error>
                            @if (emailControl?.hasError('required')) {
                            Eine E-Mail-Adresse ist erforderlich.
                            }
                            @if (emailControl?.hasError('email')) {
                            Bitte gebe eine gültige E-Mail-Adresse ein.
                            }
                        </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" matInput
                            [type]="hide ? 'password' : 'text'" placeholder="Passwort" autocomplete="new-password">
                        <button mat-icon-button matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon fontSet="material-icons-outlined">{{hide ? 'lock' : 'lock_open'}}</mat-icon>
                        </button>
                        @if (passwordControl?.touched && passwordControl?.invalid) {
                        <mat-error>
                            @if (passwordControl?.hasError('required')) {
                            Ein Passwort ist erforderlich.
                            }
                            @if (passwordControl?.hasError('minlength')) {
                            Das Passwort muss mindestens 6 Zeichen haben.
                            }
                        </mat-error>
                        }
                    </mat-form-field>
                        <div class="check-input">
                            <mat-checkbox formControlName="policy">
                              Ich stimme der <a class="purple-datenschutz" href="privacy-policy">Datenschutzerklärung</a> zu.
                            </mat-checkbox>
                            @if (loginForm.get('policy')?.touched && loginForm.get('policy')?.invalid) {
                              <mat-error>
                                Du musst der Datenschutzerklärung zustimmen.
                              </mat-error>
                            }
                          </div>
                </div>
                <div class="div-btn-weiter">
                    <button class="login-btn" 
                            type="submit" 
                            [disabled]="!loginForm.valid">Weiter</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="bottom-login">
    <a routerLink="legal-notice" class="imprint-tag">Impressum</a> &nbsp; <a routerLink="privacy-policy"
        class="privacy-policy-tag">Datenschutz</a>
</div>