<div class="top-login">
    <img src="./../../assets/img/header_icon.png" alt="">
    
</div>    

<div class="login-card">
    <mat-card >
        <mat-card-content>
            <form (submit)="continueSignUp()" class="inside-mat-card">
                <h2>Konto erstellen</h2>

                <p class="recommend-login"> Mit deinem Namen und deiner E-Mail Adresse hast du dein neues DABubble-Konto.</p>

                <div class="input-fields">
                    <!-- <mat-form-field>
                        <mat-label>Enter your email</mat-label>
                        <mat-icon matPrefix>mail</mat-icon>
                        <input  matInput
                               placeholder="pat@example.com"
                               [formControl]="email"
                               (blur)="updateErrorMessage()"
                               required>
                        @if (email.invalid) {
                          <mat-error>{{errorMessage}}</mat-error>
                        }
                      </mat-form-field> -->
                    <div class="name-input">
                        <i class="i-class-img"><img src="./../../assets/img/person-icon.png"></i>
                    <input  class="name-login" type="text" name="email"  placeholder="Name und Nachname"> <br>
                    </div>  
                    <div class="first-input">
                        <i class="i-class-img"><img src="./../../assets/img/mail-icon.png"></i>
                    <input  class="email-login" type="email" name="email"  placeholder="beispielname@email.com"> <br>
                    </div>
                    <div class="second-input">
                        <i class="i-class-img"><img src="./../../assets/img/lock-icon.png"></i>
                        <input  class="password-login" type="password" name="password"  placeholder="Passwort"> <br>
                    </div>

                    <div class="check-input">
                        <input type="checkbox">
                        <p>Ich stimme der <a class="purple-datenschutz" href="#">Datenschutzerklärung</a> zu.</p> 
                    </div>

                </div>
                    
                

                

               
                <div class="div-btn-weiter">
                    <button class="login-btn" type="submit" >Weiter</button>
                </div>
                    
                
            </form>    
        </mat-card-content>
    </mat-card>
</div> 

<div class="bottom-login">
    <a href="#" class="imprint-tag">Impressum</a> &nbsp; <a href="#" class="privacy-policy-tag">Datenschutz</a>
</div>