
.top-login {
    padding: 18px;
    display: flex;
    justify-content: space-between;

    img {
        height: 70px;
    }
   
    .create-acc {
        height: 70px;

        .create-acc-purple {
            color: #535AF1;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.login-card {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    ::ng-deep mat-card {
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        border-top-right-radius: 20px !important;
    
    }

    .inside-mat-card {
        margin-right: 20px;
        margin-left: 20px;
    }

    h2 {
        color: #535AF1;
    }

    .recommend-login {
        margin-bottom: 25px;
    }

    .input-fields {
        display: flex;
        flex-direction: column;

        .first-input {
            position:relative;
            display:inline-block;
            
            .i-class-img {
                position: absolute;
                left:25px;
                top: 13px;
        
                img:hover {
                    
                }
            }    

            .email-login {
                border-radius: 20px;
                padding: 16px;
                padding-left: 60px;
                padding-right: 60px;

                background-color: #eceefe;
                border: none;
                width: 100%;
                margin-bottom: 25px;
            }

            .email-login:focus {
                outline: #535AF1;
                outline-width: 1px;
                outline-color: #535AF1;
                outline-style: auto;
            
            }
        }
       
        .second-input {
            position:relative;
            display:inline-block;

            .i-class-img {
                position: absolute;
                left:25px;
                top: 13px;
        
                img:hover {
                    
                }
            }    

            .password-login {
                border-radius: 20px;
                padding: 16px;
                padding-left: 60px;
                padding-right: 60px;

                background-color: #ECEEFE;
                border: none;
                width: 100%;
                margin-bottom: 25px;
            }
            .password-login:focus {
                outline: #535AF1;
                outline-width: 1px;
                outline-color: #535AF1;
                outline-style: auto;
            }
        }
        
    }


    .forgot-pw {
        color: #535AF1;
        cursor: pointer;
        text-decoration: none;
    }

    .oder-line {
        display: flex;
        justify-content: center;
        align-items: center;
       

        .first-line {
            height: 1px;
            width: 190px;
            background-color: #535AF1;
        }
        .between-line {
            margin-right: 20px;
            margin-left: 20px;
           
        }
        .second-line {
            height: 1px;
            width: 190px;
            background-color: #535AF1;
        }
    }

    .google-div {
        width: 100%;
        height: 47px;
        background-color: #ECEEFE;
        border-radius: 20px;
        padding: 16px;
        padding-right: 50px;
        padding-left: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        .google-div-text {
            color: #535AF1;
            cursor: pointer;
            text-decoration: none;
            margin-left: 10px;
        }

        img {
            height: 30px;
            width: 30px;
        }

    }
}

.bottom-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .imprint-tag, .privacy-policy-tag {
        color: #535AF1;
        cursor: pointer;
        text-decoration: none;
    }
}