<div class="top-login">
    <img src="./../../assets/img/header_icon.png" alt="">
    <div class="create-acc">
        <p>Neu bei DABubble?</p> 
        <a href="#" class="create-acc-purple">Konto erstellen</a>
    </div>
    
</div>
    

<div class="login-card">
    <mat-card >
        <mat-card-content>
            <h2>Anmeldung</h2>

            <p> Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
        </mat-card-content>
    </mat-card>
</div> 

<div class="bottom-login">
    <a href="#" class="imprint-tag">Impressum</a> &nbsp; <a href="#" class="privacy-policy-tag">Datenschutz</a>
</div>