<div class="splash-screen" *ngIf="showSplashScreen" [@backgroundFade]>

</div>

<div class="splash-content" *ngIf="showLogoAnimation" [@finalMoveAnimation]="moveToCorner ? 'moved' : 'initial'"
    (@finalMoveAnimation.done)="onFinalMoveDone()">

    <img src="./assets/img/logo-without-text.png" alt="Logo" class="splash-logo" [@logoAnimation]
        [@logoResizeAnimation]="moveToCorner ? 'moved' : 'initial'" (@logoAnimation.done)="onLogoAnimationDone()">

    <span class="splash-text" *ngIf="textVisible" [@textAnimation]
        [@textStyleAnimation]="moveToCorner ? 'moved' : 'initial'" (@textAnimation.done)="onTextAnimationDone()">
        DABubble
    </span>

</div>

<div class="main-content">
    <div class="top-login">
        <img src="./assets/img/header_icon.png" alt="">
        <div class="create-acc">
            <p>Neu bei DABubble?</p>
            <a [routerLink]="'/sign-up'" class="create-acc-purple">Konto erstellen</a>
        </div>
    </div>
    <div class="login-card" *ngIf="!showSplashScreen">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="loginForm" (submit)="signIn()" class="inside-mat-card">
                    <h2>Anmeldung</h2>

                    <p class="recommend-login"> Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
                        verwendest.</p>

                    <div class="input-fields">
                        <mat-form-field>
                            <mat-icon matPrefix fontSet="material-icons-outlined">mail</mat-icon>
                            <input matInput type="email" formControlName="email" placeholder="beispielname@email.com">
                            @if (emailControl?.touched && emailControl?.invalid) {
                            <mat-error>
                                @if (emailControl?.hasError('required')) {
                                Email is required.
                                }
                                @if (emailControl?.hasError('email')) {
                                Please enter a valid email address.
                                }
                            </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" formControlName="password" matInput
                                [type]="hide ? 'password' : 'text'" placeholder="Passwort">
                            <span  matPrefix [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon style="padding-left: 12px; padding-right: 12px; display: ruby; cursor: pointer;" (click)="hide = !hide" fontSet="material-icons-outlined">{{hide ? 'lock' : 'lock_open'}}</mat-icon>
                        </span>
                            @if (passwordControl?.touched && passwordControl?.invalid) {
                            <mat-error>
                                @if (passwordControl?.hasError('required')) {
                                Password is required.
                                }
                                @if (passwordControl?.hasError('minlength')) {
                                Password must be at least 6 characters.
                                }
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <a href="send-email" class="forgot-pw">Passwort vergessen?</a> <br><br>

                    <div class="oder-line">
                        <div class="first-line"></div>
                        <p class="between-line">ODER</p>
                        <div class="second-line"></div>
                    </div>

                    <div (click)="signInWithGoogle()" class="google-div">
                        <img src="./assets/img/google-icon.png" alt="">
                        <a class="google-div-text">Anmelden mit Google</a>
                    </div>

                    <button class="login-btn" type="submit" [disabled]="loginForm.invalid">Anmelden</button>
                    <button class="guest-btn" type="button" (click)="loginGuest()">Gäste Login</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="bottom-login">
        <a routerLink="/legal-notice" class="imprint-tag">Impressum</a> &nbsp; <a routerLink="/privacy-policy"
            class="privacy-policy-tag">Datenschutz</a>
        <br>


    </div>

    <div class="mobile-create-acc">
        <p>Neu bei DABubble?</p><br>
        <button class="mobile-create-acc-btn"><a [routerLink]="'/sign-up'">Konto erstellen</a></button>
        <br>
    </div>
</div>