<div class="container">

  <mat-card appearance="outlined" class="messages">
    <mat-card-header class="direct-message-header">
      <mat-card-title class="direct-message-title"># Entwicklerteam <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
      </mat-card-title>
      <div class="members-container">
        <div class="members-images">
          <img class="members-image" style="right: -25px;" src="./../../assets/img/pfp_header.png" alt="">
          <img class="members-image" style="right: -10px;" src="./../../assets/img/pfp_header.png" alt="">
          <img class="members-image" style="right: 5px;" src="./../../assets/img/pfp_header.png" alt="">
          <span class="members-count">3</span>
        </div>
        <!-- <img src="./../../assets/img/add_members_button.png" alt=""> -->
        <!-- <mat-icon fontIcon="person_add"></mat-icon> -->
        <button mat-mini-fab class="button-add-person">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content class="direct-message-content">
      <div class="date-elements">
        @for(message of messages; track message) {
        <div class="date-element">
          <span class="date">Dienstag, 14 Januar</span>
        </div>
        <div class="messages">
          <div class="message-container left">
            <img src="./../../assets/img/pfp_header.png" alt="">
            <div class="message-left">
              <div class="name"><p>{{message.firstName}} {{message.lastName}}</p><p class="time">{{getTimeFromTimestamp(message.timestamp)}}</p></div>
              <p class="text-left">{{message.message}}</p>
            </div>
          </div>
        </div>
      }
      </div>
    

      <!-- <div class="date-elements">
        <div class="date-element">
          <span class="date">Heute</span>
        </div>
        <div class="messages">
          <div class="message-container left">
            <img src="./../../assets/img/pfp_header.png" alt="">
            <div class="message-left">
              <div class="name"><p class="name">Noah Braun</p><p class="time">14:25 Uhr</p></div>
              <p class="text-left">Gut und dir?</p>
                <div class="reactions"><p>2 Antworten</p><p class="time">Letzte Antwort 14:28 Uhr</p></div>
            </div>
          </div>
          <div class="message-container right">
            <img src="./../../assets/img/pfp_header.png" alt="">
            <div class="message-right">
              <div class="name-right"><p>Frederick Beck</p><p class="time">14:30 Uhr</p></div>
              <p class="text-right">Mir auch</p>
            </div>
          </div>
        </div>
      </div> -->

    </mat-card-content>
    <div class="direct-message-input">
      <textarea [(ngModel)]="newMessage" rows="2" type="text" placeholder="Nachricht an #Entwicklerteam"></textarea>
      <div class="message-icon-bar">
        <div class="send-message-icons">
          <mat-icon>add</mat-icon>
          <mat-icon>sentiment_satisfied</mat-icon>
          <mat-icon>alternate_email</mat-icon>
        </div>
        <div (click)="getMessage()" class="send-button">
          <mat-icon>send_fill</mat-icon>
        </div>
      </div>
    </div>
  </mat-card>

  <app-thread class="thread"></app-thread>

</div>