<div class="container">

  <mat-card appearance="outlined" class="messages">
    <mat-card-header class="direct-message-header">
      <mat-card-title class="direct-message-title"># Entwicklerteam <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
      </mat-card-title>
      <div class="members-container">
        <div class="members-images">
          <img class="members-image" style="right: -25px;" src="./../../assets/img/pfp_header.png" alt="">
          <img class="members-image" style="right: -10px;" src="./../../assets/img/pfp_header.png" alt="">
          <img class="members-image" style="right: 5px;" src="./../../assets/img/pfp_header.png" alt="">
          <span class="members-count">3</span>
        </div>
        <!-- <img src="./../../assets/img/add_members_button.png" alt=""> -->
        <!-- <mat-icon fontIcon="person_add"></mat-icon> -->
        <button mat-mini-fab class="button-add-person">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content class="direct-message-content">
      <div class="date-element">
        <span class="date">Dienstag, 14 Januar</span>
      </div>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>

      <div class="date-element">
        <span class="date">Mittwoch, 15 Januar</span>
      </div>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <div class="date-element">
        <span class="date">Heute</span>
      </div>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <div class="date-element">
        <span class="date">Heute</span>
      </div>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <div class="date-element">
        <span class="date">Heute</span>
      </div>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <div class="direct-message-input">
      <textarea rows="2" type="text" placeholder="Nachricht an #Entwicklerteam"></textarea>
      <div class="message-icon-bar">
        <div class="send-message-icons">
          <mat-icon>add</mat-icon>
          <mat-icon>sentiment_satisfied</mat-icon>
          <mat-icon>alternate_email</mat-icon>
        </div>
        <div class="send-button">
          <mat-icon>send_fill</mat-icon>
        </div>
      </div>
    </div>
  </mat-card>

  <app-thread class="thread"></app-thread>

</div>