.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 32px;
    padding-bottom: 0;
    height: 100%;
}

.messages {
    flex: 1;
    border-radius: 30px;
}

.thread {
    display: none;
    width: 35%;
}

.direct-message-header {
    width: 100%;
    height: 110px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid rgba(0, 0, 0, 0.04);
    padding: 32px 45px 20px 45px;

    .direct-message-title {
        display: flex;
        align-items: center;

        .user-image-container {
            position: relative;

            .userImage {
                width: 70px;
                height: 70px;
                object-fit: cover;
                position: relative;
                border: 2px solid #FFFFFF;
                border-radius: 30px;
            }

            .user-picture-dot-online {
                border-radius: 100%;
                background-color: #92C83E;
                position: absolute;
                bottom: 10px;
                right: 5px;
                width: 14px;
                height: 14px;
                border: 2px solid #fff;
            }

            .user-picture-dot-offline {
                border-radius: 100%;
                background-color: #686868;
                position: absolute;
                bottom: 10px;
                right: 5px;
                width: 14px;
                height: 14px;
                border: 2px solid #fff;
            }
        }

        .userName {
            padding-left: 20px;
            font-family: Nunito;
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    }

    .button-add-person {
        background: #ECEEFE;
    }

    .button-add-person {
        color: #000;

        &:hover {
            transform: scale(1.05);
            color: #535AF1;
            ;
        }
    }
}

.direct-message-content {
    width: 100%;
    flex: 1;
    justify-content: center;
    padding: 25px 45px 25px 45px;
    background-color: #fff;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* macht die Scrollbar schmaler */
    scrollbar-color: #9747FF #fff;

    ::ng-deep .mat-expansion-panel-content {
        overflow-y: scroll !important;
        height: 100%;
    }

    /* Scrollbar-Leiste */
    &::-webkit-scrollbar {
        width: 4px;
        /* Breite der Scrollleiste */
    }

    /* Hintergrund der Scrollbar-Leiste */
    &::-webkit-scrollbar-track {
        background: #fff;
        /* Hintergrundfarbe der Leiste */
    }

    /* Scrollbar-Griff */
    &::-webkit-scrollbar-thumb {
        background-color: #9747FF;
        /* Farbe des Griffs */
        border-radius: 10px;
        /* Rundung des Griffs */
        height: 1px;
    }

    /* Scrollbar-Griff beim Hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #444DF2;
        /* Farbe des Griffs beim Hover */
    }
}

.date-element {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 32px 0;
}

.date-element::before,
.date-element::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #ADB0D9;
}

.date {
    border: 1px solid #ADB0D9;
    border-radius: 30px;
    height: 35px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.55px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.members-images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.members-image {
    width: 40px;
    height: 40px;
    position: relative;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
}

.members-count {
    width: 40px;
}

.direct-message-input {
    display: flex;
    flex-direction: column;
    height: 145px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    margin: 32px;
    justify-content: space-between;

    textarea {
        width: 100%;
        border: none;
        outline: none;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        resize: none;
        scrollbar-width: thin;
        /* macht die Scrollbar schmaler */
        scrollbar-color: #9747FF #fff;

        /* Scrollbar-Leiste */
        &::-webkit-scrollbar {
            width: 4px;
            /* Breite der Scrollleiste */
        }

        /* Hintergrund der Scrollbar-Leiste */
        &::-webkit-scrollbar-track {
            background: #fff;
            /* Hintergrundfarbe der Leiste */
        }

        /* Scrollbar-Griff */
        &::-webkit-scrollbar-thumb {
            background-color: #9747FF;
            /* Farbe des Griffs */
            border-radius: 10px;
            /* Rundung des Griffs */
            height: 50%;
        }

        /* Scrollbar-Griff beim Hover */
        &::-webkit-scrollbar-thumb:hover {
            background-color: #444DF2;
            /* Farbe des Griffs beim Hover */
        }
    }
}

.send-message-icons {
    display: flex;
    gap: 5px;
    border-radius: 20px;

    mat-icon {
        width: 40px;
        height: 40px;
        padding: 8px;
        gap: 10px;
        color: #686868;

        &:first-child {
            border-right: 1px solid #686868;
        }
    }
}

.message-icon-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.send-button {
    display: flex;
    align-items: center;
}

.date-elements {
    display: flex;
    flex-direction: column;

    .messages {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .left {
            justify-content: flex-start;
            flex-direction: row;
        }

        .right {
            flex-direction: row-reverse;
        }

        .message-container {
            display: flex;
            gap: 10px;

            .message-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .message-right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            img {
                width: 70px;
                height: 70px;
                border-radius: 40px;
            }

            .time {
                font-family: Nunito;
                font-size: 14px;
                font-weight: 400;
                line-height: 19.1px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #686868;
            }

            .name-left {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;
                font-family: Nunito;
                font-size: 18px;
                font-weight: 700;
                line-height: 24.55px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

            .name-right {
                display: flex;
                flex-direction: row-reverse;
                gap: 20px;
                align-items: center;
                font-family: Nunito;
                font-size: 18px;
                font-weight: 700;
                line-height: 24.55px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

            .reactions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                font-family: Nunito;
                font-size: 18px;
                font-weight: 400;
                line-height: 24.55px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #535AF1;


            }

            .text-left {
                padding: 15px;
                gap: 8px;
                border-radius: 0px 30px 30px 30px;
                background: #ECEEFE;
                font-family: Nunito;
                font-size: 18px;
                font-weight: 400;
                line-height: 24.55px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin-right: 75px;
                width: fit-content;
            }

            .text-right {
                padding: 15px;
                gap: 8px;
                border-radius: 30px 0px 30px 30px;
                background: #ECEEFE;
                font-family: Nunito;
                font-size: 18px;
                font-weight: 400;
                line-height: 24.55px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin-left: 75px;
                width: fit-content;
            }
        }
    }
}

.add-person-placeholder {
    width: 0;
    height: 0;
    opacity: 0;
}

::ng-deep .mat-mdc-button .mat-mdc-button-touch-target {
    height: 0;
    width: 0;
}