<div class="container">

  <mat-card appearance="outlined" class="messages">
    <mat-card-header class="direct-message-header">
      <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <mat-card-content class="direct-message-content">
      <div class="line">
        <span class="centered-element">Dienstag, 14 Januar</span>
      </div>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>

  <app-thread class="thread"></app-thread>

</div>