<div class="container">
    <mat-card appearance="outlined" class="messages">
        <mat-card-header class="direct-message-header">
            <mat-card-title class="direct-message-title">
                <span class="title">Neue Nachricht</span>
            </mat-card-title>
            <form class="form-new">
                <mat-form-field class="full-width">
                  <input type="text"
                         placeholder="An: #channel, oder @jemand oder E-Mail-Adresse"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    @for (option of filteredOptions | async; track option.id) {
                      <mat-option [value]="option.display">
                        {{ option.display }}
                      </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              
        </mat-card-header>

        <mat-card-content class="add-message-content" #scrollContainer (click)="showEmojis = false"></mat-card-content>

        <div class="direct-message-input">
            <button class="add-person-placeholder" mat-button [matMenuTriggerFor]="aboveMenu"
                #menuTrigger="matMenuTrigger"></button>

            <textarea #inputFocus [(ngModel)]="newMessage" rows="2"
                placeholder="Starte eine neue Nachricht"
                (input)="onInput($event)" #textarea (focus)="showEmojis = false">
        </textarea>

            <mat-menu #aboveMenu="matMenu" yPosition="above">
                @if(inputTrigger === true) {
                    @for (user of users(); track user) {
                    <button mat-menu-item (click)="addToMessage(user.firstName + ' ' + user.lastName, false)">
                      {{ user.firstName }} {{ user.lastName }}
                    </button>
                    }
                    } @else {
                    @for (channel of channels(); track channel) {
                    <button mat-menu-item (click)="addToMessage(channel.name , false)">
                      {{ channel.name }}
                    </button>
                    }
                    }
            </mat-menu>

            <div class="message-icon-bar">
                <div class="send-message-icons">
                    @if(showEmojis) {
                    <emoji-mart #emojiPicker [set]="'google'" class="emojis" (emojiClick)="addEmoji($event)"
                        [showPreview]="false"
                        [i18n]="{ search: 'Suche', notfound: 'Keine Emojis gefunden', categories: { search: 'Suchergebnisse', recent: 'Zuletzt verwendet' } }"
                        showSkinTones="true" [perLine]="6"></emoji-mart>
                    }
                    <mat-icon (click)="toggleEmojis()">sentiment_satisfied</mat-icon>
                    <mat-icon (click)="toggleMenu()">alternate_email</mat-icon>
                </div>
                <div (click)="saveMessage()" class="send-button">
                    <mat-icon>send</mat-icon>
                </div>
            </div>
        </div>

    </mat-card>
</div>