<header>
    @if (isMobileView && activeUser() == null && activeChannel() == null  && !addMessage()) {
    <div class="logo-section-header">
        <img class="logo-header" src="./assets/img/header_icon.png" alt="">
    </div>
    } @else if (isMobileView && (activeUser() != null || activeChannel() != null || addMessage())) {
    <div class="logo-section-header-devspace">
        <img class="logo-header-mobile-devspace" src="/assets/img/workspace_logo.png" alt="">
        <span class="devspace-title">Devspace</span>
    </div>
    } @else {
    <div class="logo-section-header">
        <img class="logo-header" src="./assets/img/header_icon.png" alt="">
    </div>
    }


    <div class="input-section-header">
            <form class="form">
                <mat-form-field class="full-width">
                  <input class="input-search" type="text"
                         placeholder="Devspace durchsuchen"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                         <mat-icon matSuffix>search</mat-icon>

                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    @for (option of filteredOptions | async; track option.id) {
                      <mat-option (click)="openChat()" [value]="option.display">
                        {{ option.display }}
                      </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </form>

    </div>

    <div class="profile-section-header">
        <h2 (click)="openDialog()">{{ getLoggedUser()?.firstName }} {{ getLoggedUser()?.lastName }}</h2>
        <div class="profile-picture-container" (click)="openDialog()">
            <span class="user-picture-dot-online"></span>
            <img class="pfp-header" src="./assets/img/profile-pictures/{{ getLoggedUser()?.avatar }}" alt="">
            <img (click)="openBottomSheet()" class="pfp-header-mobile"
                src="./assets/img/profile-pictures/{{ getLoggedUser()?.avatar }}" alt="">
        </div>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="arrow-down" fontIcon="keyboard_arrow_down"></mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="menu-mat-style">
            <button mat-menu-item (click)="openDialog()">Profil</button>
            <button mat-menu-item (click)="signOut()">Log out</button>
        </mat-menu>


    </div>

</header>