<header>
    @if (isMobileView && activeUser() == null && activeChannel() == null  && !addMessage()) {
    <div class="logo-section-header">
        <img class="logo-header" src="./../../assets/img/header_icon.png" alt="">
    </div>
    } @else if (isMobileView && (activeUser() != null || activeChannel() != null || addMessage())) {
    <div class="logo-section-header-devspace">
        <img class="logo-header-mobile-devspace" src="/assets/img/workspace_logo.png" alt="">
        <span class="devspace-title">Devspace</span>
    </div>
    } @else {
    <div class="logo-section-header">
        <img class="logo-header" src="./../../assets/img/header_icon.png" alt="">
    </div>
    }


    <div class="input-section-header">
        <input [(ngModel)]="newMessage" (input)="onInput($event)" type="text" placeholder="Devspace durchsuchen">
        <i class="i-class-img"><img src="./../../assets/img/input_search.png"></i>

        <mat-menu #aboveMenu="matMenu" yPosition="above">
            @for (user of users(); track user) {
            <button mat-menu-item (click)="addToMessage(user.firstName + ' ' + user.lastName)">
                {{ user.firstName }} {{ user.lastName }}
            </button>
            }
        </mat-menu>


        <mat-menu #belowMenu="matMenu" yPosition="above">
            @for (channel of channels(); track channels) {
            <button mat-menu-item (click)="addToMessage(channel.name)">
                {{ channel.name }}
            </button>
            }
        </mat-menu>

        <button class="add-person-placeholder" mat-button [matMenuTriggerFor]="aboveMenu"
            #menuTrigger="matMenuTrigger"></button>

        <button class="add-person-placeholder" mat-button [matMenuTriggerFor]="belowMenu"
            #menuTriggerChannel="matMenuTrigger"></button>


    </div>

    <div class="profile-section-header">
        <h2 (click)="openDialog()">{{ getLoggedUser()?.firstName }} {{ getLoggedUser()?.lastName }}</h2>
        <div class="profile-picture-container" (click)="openDialog()">
            <span class="user-picture-dot-online"></span>
            <img class="pfp-header" src="./../../assets/img/profile-pictures/{{ getLoggedUser()?.avatar }}" alt="">
            <img (click)="openBottomSheet()" class="pfp-header-mobile"
                src="./../../assets/img/profile-pictures/{{ getLoggedUser()?.avatar }}" alt="">
        </div>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="arrow-down" fontIcon="keyboard_arrow_down"></mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="menu-mat-style">
            <button mat-menu-item (click)="openDialog()">Profil</button>
            <button mat-menu-item (click)="signOut()">Log out</button>
        </mat-menu>


    </div>

</header>