<header>
    <div class="logo-section-header">
        <img class="logo-header" src="./../../assets/img/header_icon.png" alt="">
    </div>

    <div class="input-section-header">
        <input type="text" placeholder="Devspace durchsuchen">  
        <i class="i-class-img"><img src="./../../assets/img/input_search.png"></i>
    </div>

    <div class="profile-section-header">
            <h2>Frederik Beck</h2>
            <span class="user-picture-dot-online"></span>
            <img class="pfp-header" src="./../../assets/img/pfp_header.png" alt="">
            
            <mat-icon class="arrow-down" fontIcon="keyboard_arrow_down" ></mat-icon>
    </div>

</header>