<mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" mode="side" opened="true">
        <mat-card class="nav" appearance="raised">
            <mat-card-content class="card-content">
                <mat-card-header class="sidenav-header">
                    <div class="header-container">
                        <div class="title"><img src="./../../assets/img/workspace_logo.png"
                                alt=""><mat-card-title>Devspace</mat-card-title></div>
                        <div class="edit"><img src="./../../assets/img/edit_square.png" alt=""></div>
                    </div>
                </mat-card-header>

                <mat-accordion class="channels">
                    <mat-expansion-panel class="panel" (opened)="channelsOpenState = true"
                        (closed)="channelsOpenState = false" [expanded]="true">
                        <mat-expansion-panel-header class="custom-header">
                            <mat-panel-title class="panel-title">
                                <mat-icon>workspaces_outline</mat-icon> Channels
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="list">
                            <li><mat-icon class="tag">tag</mat-icon>Entwicklerteam</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li><mat-icon class="tag">tag</mat-icon> Office</li>
                            <li class="add-channel"><mat-icon>add_circle_outline</mat-icon>Channel hinzufügen</li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion class="directmessages">
                    <mat-expansion-panel class="panel" (opened)="messagesOpenState = true"
                        (closed)="messagesOpenState = false" [expanded]="true">
                        <mat-expansion-panel-header class="custom-header">
                            <mat-panel-title class="panel-title">
                                <mat-icon class="outline-icon">account_circle</mat-icon>Direktnachrichten
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="list">
                            <li><div class="user-picture"><span class="user-picture-dot-online"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Frederick Beck</li>
                            <li><div class="user-picture"><span class="user-picture-dot-online"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Hans Wurst</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Peter Petersen</li>
                            <li><div class="user-picture"><span class="user-picture-dot-offline"></span><img src="./../../assets/img/pfp_header.png" alt=""></div>Last one</li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </mat-drawer>
    <mat-drawer-content>
        <app-main-content class="main-container"></app-main-content>
    </mat-drawer-content>

</mat-drawer-container>

<div class="sidenav-content">
    <button type="button" (click)="drawer.toggle()" (click)="changeMenuOpenState()">
        @if(menuOpenState) {
        Workspace-Menü schließen <img class="rotate" src="./../../assets/img/hide_navigation.png" alt="">
        } @else {
        Workspace-Menü öffnen <img src="./../../assets/img/hide_navigation.png" alt="">
        }
    </button>
</div>