.container {
    width: 100%;
    height: 100%;
    background: #ECEEFE;

    .sidenav {
        width: 366px;
        height: 100%;
        padding: 32px 0 0 30px;
        background: #ECEEFE;
        border: none;

        .nav {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            box-shadow: none;

            .header-container {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                padding: 0;

                .title {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }

                .edit {
                    display: flex;
                    align-items: center;
                    width: 30px;
                    width: 30px;
                    padding-bottom: 2px;

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.sidenav-content {
    position: fixed;
    width: 60px;
    height: 347px;
    left: 0;
    top: 54%;
    padding: 23px 14px 23px 14px;
    gap: 10px;
    border-radius: 0px 30px 30px 0px;
    background-color: #fff;
    color: black;
    z-index: 999;
    margin: 0;
    box-shadow: 4px 4px 7px 0px #00000033;


    button {
        height: 100%;
        width: 100%;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        background: none;
        border: none;
        outline: none;
        font-family: Nunito;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;


        img {
            width: 32px;
            height: 32px;
        }
    }
}

.panel {
    box-shadow: none !important;
    width: 100%;
    height: 100%;
}

::ng-deep .custom-header .mat-expansion-indicator {
    order: -1;
    margin-right: 8px;
}

.panel-title {
    display: flex;
    gap: 13px;
    flex: 1;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 16px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style-type: none;
    font-family: Nunito;
    font-size: 18px;
    line-height: 24.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 32px;
    height: 100%;

    li {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-top: 4px;
        cursor: pointer;
    }

    .add-channel {
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    overflow: hidden;
}

.channels {
    display: flex;
    height: 30%;
}

.directmessages {
    display: flex;
    height: 55%;
    padding-bottom: 30px;
}

.rotate {
    transform: rotate(180deg);
}

.outline-icon {
    color: transparent;
    -webkit-text-stroke: 2px #000;
}

.tag {
    transform: rotate(5deg);
}

.user-picture {
    position: relative;

    img {
        width: 50px;
        height: 50px;
    }

    .profile-pictures {
        border-radius: 50%;
    }
}

.user-picture-dot-online {
    border-radius: 100%;
    background-color: #92C83E;
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
}

.user-picture-dot-offline {
    border-radius: 100%;
    background-color: #686868;
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
}

::ng-deep .mat-expansion-panel-content {
    overflow-y: scroll !important;
    height: 70%;
    scrollbar-width: none;
    /* macht die Scrollbar schmaler */
    scrollbar-color: #9747FF #fff;
}

/* Scrollbar-Leiste */
::ng-deep .mat-expansion-panel-content::-webkit-scrollbar {
    width: 0px;
    /* Breite der Scrollleiste */
}

/* Hintergrund der Scrollbar-Leiste */
::ng-deep .mat-expansion-panel-content::-webkit-scrollbar-track {
    background: #fff;
    /* Hintergrundfarbe der Leiste */
}

/* Scrollbar-Griff */
::ng-deep .mat-expansion-panel-content::-webkit-scrollbar-thumb {
    background-color: #9747FF;
    /* Farbe des Griffs */
    border-radius: 10px;
    /* Rundung des Griffs */
    height: 0px;
}

/* Scrollbar-Griff beim Hover */
::ng-deep .mat-expansion-panel-content::-webkit-scrollbar-thumb:hover {
    background-color: #444DF2;
    /* Farbe des Griffs beim Hover */
}

.main-container {
    display: flex;
    height: 100%;
}

@media (max-width: 1024px) {
    .container {
        .sidenav {
            width: 100%;
            padding: 0;

            .nav {
                border-radius: 0;

                .card-content {
                    .sidenav-header {
                        display: none;
                    }
                }
            }
        }
    }

    .sidenav-content {
        display: none;
    }
}
