<!-- <section>
    <h1>User Profiles</h1>
    <ul>
        @for(user of users; track user) {
            <li  (click)="getId(user.userId)">
            Name: {{user.firstName}} {{user.lastName}}<br> 
            ID: {{user.userId}}<br> 
            Email: {{user.email}}<br><br>
        </li>
        }
        
    </ul>

    <h1>User Profile</h1>
    <ul>
        @for(person of user; track person) {
            <li>
            Name: {{person.firstName}} {{person.lastName}}<br> 
            ID: {{person.userId}}<br> 
            Email: {{person.email}}<br><br>
        </li>
        }
        
    </ul>
</section> -->

<!-- <section>
    <h1>User Profiles</h1>
    <ul>
      @for (user of (users$ | async); track user) {
        <li (click)="getId(user.userId)">
          <strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}<br>
          <strong>ID:</strong> {{ user.userId }}<br>
          <strong>Email:</strong> {{ user.email }}<br><br>
        </li>
      }
    </ul>
  
    <h1>Active User Profile</h1>
<ul>
  @if ((user$ | async)) {
    <li>
      <strong>Name:</strong> {{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}<br>
      <strong>ID:</strong> {{ (user$ | async)?.userId }}<br>
      <strong>Email:</strong> {{ (user$ | async)?.email }}<br><br>
    </li>
  } @else {
    <p>No user selected. Please click on a user profile to view details.</p>
  }
</ul>
  </section> -->

<!-- <section>
  <h1>User Profiles</h1>
  <ul>
    @for (user of users(); track user) {
    <li (click)="getId(user.userId)">
      <strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}<br>
      <strong>ID:</strong> {{ user.userId }}<br>
      <strong>Email:</strong> {{ user.email }}<br><br>
    </li>
    }
  </ul>

  <h1>Active User Profile</h1>
  <ul>
    @if (activeUser()) {
    <li>
      <strong>Name:</strong> {{ activeUser()?.firstName }} {{ activeUser()?.lastName }}<br>
      <strong>ID:</strong> {{ activeUser()?.userId }}<br>
      <strong>Email:</strong> {{ activeUser()?.email }}<br><br>
    </li>
    } @else {
    <p>No user selected. Please click on a user profile to view details.</p>
    }
  </ul>

  <h1>User Messages</h1>
<ul>
  @if (groupedMessages().length > 0) {
    @for (group of groupedMessages(); track group.date) {
      <li>
        <h2>
          @if (group.date === (today() | date: 'yyyy-MM-dd')) {
            Heute
          } @else {
            {{ group.date | date: 'dd.MM.yyyy' }}
          }
        </h2>
        <ul>
          @for (message of group.messages; track message.id) {
            <li>
              <strong>Uhrzeit:</strong> {{ message.timestamp.toDate() | date: 'HH:mm' }}<br>
              <strong>Nachricht:</strong> {{ message.message }}
            </li>
          }
        </ul>
      </li>
      <br>
    }
  } @else {
    <p>No messages available for the selected user.</p>
  }
</ul>

</section> -->