<h2 mat-dialog-title>Mitglieder</h2>
<mat-icon class="close-button" (click)="onNoClick()">close</mat-icon>
<mat-dialog-content class="no-scrollbar">

    <ul>
        @for(member of member(); track member) {
        <li (click)="openDialog(member!)">
            <div class="user-picture">
                <img [src]="'./assets/img/profile-pictures/' + member?.avatar" alt="">
                <span
                    [ngClass]="member?.status == 'online' ? 'user-picture-dot-online' : 'user-picture-dot-offline'"></span>
            </div>
            <span>
                {{ member?.firstName }} {{ member?.lastName }}
                @if (member?.userId === loggedUser) {
                (Du)
                }
            </span>
        </li>
        }
    </ul>
</mat-dialog-content>
<mat-dialog-actions class="add-member" (click)="openDialogAddMember()">
    <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
    <span>
        Mitglieder hinzufügen
    </span>
</mat-dialog-actions>