<div class="top-login">
    <img src="./../../assets/img/header_icon.png" alt="">
    
</div>    

<div class="login-card">
    <mat-card >
        <mat-card-content>
        
                <div class="h2-arrow">
                    <a class="arrow-back" href="login"><img src="./../../assets/img/arrow_back.png" alt=""></a>
                    <h2>Impressum</h2>
                </div>

                <p class="recommend-login">Namen <br> Adressen<br>PLZ und Stadt</p>

                <h2>Contact:</h2>
                <p>E-Mail: Unsere E-Mail</p>
                  
        </mat-card-content>
    </mat-card>
</div> 

