<div class="main-content">

<div class="top-login">
    <img src="./assets/img/header_icon.png" alt="">
</div>

<div class="login-card">
    <mat-card class="inside-card">
        <mat-card-content>
            <div class="h2-arrow">
                <a class="arrow-back" href="javascript:history.back()"><img src="./assets/img/arrow_back.png" alt=""></a>
            </div>

            <h2 class="legal-notice-headline">Impressum</h2>

            <p>Verantwortlich für den Inhalt gemäß § 5 TMG</p>

            <p class="recommend-login">Patrick Offermanns <br>Muhammed Ahmed Yazea<br>
                Ohechaussee 52b
                <br>22848 Norderstedt
            </p>

            <h2>Kontakt:</h2>
            <p>E-Mail: patrick&#64;offermanns.dev</p>
            <br>
            <h3>Haftungs&shy;ausschluss</h3>
            <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
                Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
                Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
                allgemeinen Gesetzen verantwortlich.</p>

            <h3>Haftung für Links</h3>
            <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
                Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
                Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
                verantwortlich.</p>

            <h3>Urheberrecht</h3>
            <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
                Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb
                der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw.
                Erstellers.</p>
        </mat-card-content>
    </mat-card>
</div>
</div>